.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.AddPassWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  color: white;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

.AddPassWords input {
  width: 70%;
  margin: 15px;
  height: 30px;
  border-radius: 5px;
  border-color: aquamarine;
  padding-left: 10px;
}

.AddPassWords button {
  width: 70%;
  margin: 15px;
  height: 40px;
  border-radius: 5px;
  border-color: aquamarine;
  padding-left: 10px;
}

.btn{
  cursor: pointer;
}
